html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: .2vw;
    font-size: 1vw;
    /* Transition */
    opacity: 1;
    transition: 3s opacity;
}

/* Used? */
body.fade-out {
    opacity: 0.1;
    transition: none;
}

.Navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

@keyframes moveNav {
    from {left: -100vw;}
    to {left: 0vw;}
}

.Navbar a {
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1vw;
    text-align: center;
    position: relative;
    -webkit-animation: movenavText 5.75s;
    animation: movenavText 5.75s;
    letter-spacing: .2vw;
}

@keyframes movenavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

.Navbar a:hover {
    background-color: darkgray;
    color: black;
    text-decoration: none;
    /* font-weight: bold; */
    cursor: pointer;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.Navbar a.active {
    background-color: gray;
}

.Navbar a.active:hover {
    background-color: lightgray;
}

.Typing_Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    top: 0;
    z-index: -1;
    animation: zoominoutsinglefeatured 5s;
}

@keyframes zoominoutsinglefeatured {
    0% {transform: scale(1.5, 1.5);}
    100% {transform: scale(1, 1);}
}

.Video_Text { 
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
	padding: .1vh 0px 1vh 0px;
    margin-top: 23%;
    position: relative;
    overflow: hidden;
    -webkit-animation: movevideoText 4s;
    animation: movevideoText 4s;
}

@keyframes movevideoText {
    from {top: -100vw;}
    to {top: 0px;}
}

.Video_Text h1 {
    color: white;
}

.Video_Text p {
    font-weight: bold;
    text-align: center;
    color: white;
}

.Slideshow_Background {
    background: rgba(255, 255, 255, 0.35);
}

.Slide {
    display: none;
}

.Slideshow_Container {
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
}

.Slide_Image {
    vertical-align: middle;
    height: auto;
    width: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, 0.75);
}

.Slideshow_Container img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    margin: auto auto auto auto;
	display: block;
}

.Slideshow_Container a, .Slideshow_Container a:hover {
    text-decoration: none;
}

.Back, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.Back:hover, .Next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.Slide_Text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: .1vw; 
    font-size: 1vw;
    background-color: rgba(0,0,0,0.75);
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
}

.Slide_Number {
    color: white;
    text-shadow: 0 0 3px black;
    position: absolute;
    padding-top: 12.5%;
    padding-left: 2.5%;
    top: 0;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: .1vw; 
    font-size: 1vw;
    font-weight: bold;
    display: none;
}

.Dots {
    text-align: center;
}

.Dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
}

.active, .Dot:hover {
    background-color: black;
}

/* Change name? */
.Fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;  
}

@-webkit-keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

* {
    box-sizing: border-box;
}

.Flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.Flexbox, .Column_1, .Column_2 {
    overflow: hidden;
    flex: 1 1;
}

.Column_1 {
    padding: 10px;
    min-height: 400px;
    background-color: #F2F2F2;
}

.Column_2 {
    padding: 10px;
    min-height: 400px;
    background-color: #4D4D4D;
    /* Below properties to center images */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    margin-top: 3%;
    color: black;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify;
    letter-spacing: .1vw;
    font-size: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    color: black;
}

/* not currently used */
.Center {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
	letter-spacing: .1vw;
	font-size: 1vw;
	padding-left: 5vw;
	padding-right: 5vw;
}

a {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: darkslateblue;
    cursor: pointer;
    text-decoration: underline;
}

q {
    font-style: italic;
    font-weight: bold;
}

img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    max-height: 340px;
    flex: 1 1;
}

.Popup_Button {
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;  
    background-color: white;
    color: black;
    border: solid;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}

@keyframes movePopup {
    from {right: -40vw;}
    to {bottom: 1.75vw;}
}

.Form_Popup {
    border: 3px solid lightgray;
    border-radius: 5px;
    z-index: 8;
    display: none;
    position: fixed;
    bottom: 6px;
    right: 6px;
}

.Form_Container {
    max-width: 49vw;
    padding: 9px;
    background-color: white;
}

.Form_Container input[type=text], .Form_Container input[type=password] {
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: Gainsboro;
    font-family: Helvetica, Avant Garde;
    font-size: 1vw; 
}

.Form_Container .Submit_Button {
    background-color: white;
    color: black;
    border-color: black;
    margin-bottom:1vh;
}

.Form_Container .Close_Button {
    background-color: black;
    color: white;
    border-color: gray;
}

label {
    font-weight: bold;
}

button {
    font-family: Helvetica, Arial, sans-serif; 
    letter-spacing: .3vw; 
    font-size: 1vw;
    font-weight: bold;
    padding: 1.5vw 1.5vw;
    border-style: solid;
    cursor: pointer;
    width: 100%;
    height: auto;
}

button:hover, .Form_Container .Submit_Button:hover {
    color: white;
    background-color: black;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
    border-style: solid;
    border-color: silver;
}

.Form_Container .Close_Button:hover {
    color: white;
    background-color: darkred;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
    border-style: solid;
    border-color: black;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Helvetica, Arial, sans-serif;
}

input[type=submit] {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0px auto ;
    font-family: Helvetica, Arial, sans-serif;
}

form {
    background-color: #F2F2F2;
    padding: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

footer {
    padding: 2%;
    background-color: white;
}

.Center_Footer {
    margin: 0px auto;
    width: 50%;
}

footer p {
    text-align: center;
}

/* Hover animations */

.Video_Text h1:hover {
    color: white;
    transition: transform 1s;
    transform: scale(1.1);
}

.Video_Text p:hover {
    color: white;
    transition: transform 1s;
    transform: scale(1.05);
}

h1:hover {
    color: black;
    transition: transform 1s;
    transform: scale(1.1);
}

p:hover {
    color: black;
    transition: transform 1s;
    transform: scale(1.05);
}

.Slideshow_Container img:hover {
    filter: grayscale(5%);
    transition: none;
    transform: none;
}

img:hover {
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.1);
}

input[type=submit]:hover {
    transition: transform 1s;
    transform: scale(1.1);
}

.Center:hover {
    transition: transform 1s;
	transform: scale(1.1);
}